/*СПЕЦИФИКАЦИЯ*/
.mainContent{
  z-index: 1000;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(31, 54, 125, 0.16)
}

::-webkit-scrollbar-thumb:hover{
  background: #182B65;
}

body {
 font: normal 14px 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  cursor: default;
  color: #000000b3;

}

#root{
  min-height: 100vh;
}

#modal{

}

.MuiTreeItem-root{
  width: 100% !important;
}

ul, li{
  display: block;
  padding: 0;
  margin: 0;
}

div, p, span, button, form, input, a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0.02em;
}

p{
  margin: 0 ;
}


h1, h2, h3, h4, h5, h6{
  margin: 0;
  color: #2A2A52;
}

h1{
  font-size: 45px;
  color: #fff;
  text-transform: uppercase;
}

h2{
  font-size: 19px;
  text-transform: uppercase;
}

h3{
  font-size: 17px;

}
h4{
  font-size: 16px;

}

h5{
  font-size: 15px;

}

h6{
  font-size: 14px;
}

a{
  text-decoration: none;
}
a:hover {
  transition: ease 0.5s;
  text-decoration: none;
}

.main-btn a:hover{
  background-color: transparent;
  color: #fff;
}

.btn-secondary:focus {
  box-shadow: none;
}

.btn:focus{
  box-shadow: none;
}








.ant-picker-input > input::placeholder{
  color: #b8c0d9!important;
}

.ant-select:hover .ant-select-selector{
   border-color: #788ece!important;
   box-shadow: none!important;
 }
.ant-select .ant-select-selector{
  box-shadow: none!important;
  border-color: #e0e4f1!important;
}
.ant-select-arrow, .ant-select-clear{
  font-size: 10px!important;
  right: 10px!important;
  top: 50%!important;
  transform: translate(0, -50%)!important;
  margin-top: 0!important;
}
.ant-select-selector{
  border-radius: 0 !important;
}
.ant-select{
  /*width: 220px!important;*/
  height: 37px!important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
  background-color: rgba(32, 54, 125, 0.15) !important;
}


.roll-appear{
  opacity: 0;
}
.roll-enter{
  opacity: 0.3;
}
.roll-enter-done{
  opacity: 1;
  transition: opacity 300ms;
}
.roll-exit{
  opacity: 1;
  transform: scale(1.05);
}
.roll-exit-active{
  animation: box ease 0.3s
}


.slideIn-appear{
  opacity:1;
  left: -250px;
}
.slideIn-enter{
  opacity:1;
  left: -250px;
}

.slideIn-enter-done{
  left: 0;
  opacity:1;
  transition: left 500ms, opacity 500ms;
}

.slideIn-exit{
  left: 0;
  opacity:1;
}

.slideIn-exit-active{
  animation: slide ease 0.5s;
}




@keyframes slide {
  0% {
    left: 0;
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: -250px;
  }
}


@keyframes box {
  0% {
    transform: scale(1.05);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}


/* ---------- Первый экран ---------- */

/* header start */

.react-datepicker-wrapper{
  width: 100%;
}

.modal-open .modal{
  overflow: auto;
  display: flex!important;
}


.modal.show .modal-dialog{
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

.login{
  max-width: 400px;
  margin-right: 40px;

}

.login__link_phone{
  text-align: right;
  margin-top: 5px;
}

.login__link_call{
  padding-bottom: 5px;
  border-bottom: 1px dotted #fff;
}

.login__btn{
  background-color: transparent;
  border: none;
}

.new-menu{
  width: 100%;
}



.bar {
  width:50px;
  height:1px;
  border:0.5px solid #fff;
  position: absolute;
}

.top {
  left:15%;
  top:20%;
  -webkit-transition:all 0.5s;
}

.middle {
  left:15%;
  top:40%;
  -webkit-transition:all 0.5s;
}

.bottom {
  left:15%;
  top:60%;
  -webkit-transition:all 0.5s;
}

.logo__img{
  margin-top: 13px;
  margin-left: 40px;
}

/* header stop */


/* NAVBAR START */
.menu{
  font-size: 15px;
}

.menu__item{
}

.menu__item:not(:last-child){
  margin-right: 15px;
}




.action__link{
  font-weight: 300;
  font-size: 20px;
}
/* offer-page stop */

.perelink-blog{
  margin-left: 10px;
  margin-right: 10px;
}

.address-info{
  position: absolute;
  left: 40px;
  padding: 20px;
  max-width: 310px;
  border: 1px solid #fff;
  top: 250px;
}

.nav-item{
  display: inline-block;
  max-width: 165px;
  width: 100%;
  cursor: pointer;
}

.nav-item:focus{
  background: #ffffff59;
}

.ifns{
  padding: 30px 20px;
}

.ifns__info{
  padding: 10px 30px;
}

.ifns__title{
  margin-top: 50px;
  margin-bottom: 50px;
}

.ifns__btn{
  font-weight: 600;
  display: block;
  padding: 10px 40px;
  margin-top: 50px;
  font-size: 25px;
  text-transform: uppercase;
}

.ifns__img{
  max-width: 100%;
}

.price-ifns__item{
  max-width: 250px;
}

.price-ifns__items{
  padding: 5px 10px;
}

.price-ifns__title{
  margin-bottom: 20px;
}

.more-info{
  margin-top: 20px;
  font-size: 18px;
}

.questions{
  margin-top: 20px;
  padding: 10px 20px;
}

.show{
  margin-bottom: 10px;
}

.page{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact__item-header{
  display: inline-block;
}

.fa-phone, .fa-email{
  margin-right: 10px;
}

.icon__link_gram{
  font-size: 20px;
  text-transform: none;
}

.fa-gram, .fa-email{
  margin-right: 10px;
  font-size: 30px;
}

.contact__item_tel{
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 3px solid #075454;
}

.contact__item_btn{
  padding: 10px 20px;
  border-bottom: 3px solid;
  border-color: #075454!important;
  background-color: transparent;
}

.contact__item_btn:hover{
  color: #000;
  transition: ease 0.5s;
  background-color: #e5edee;
}

.menu-mobile{
    z-index: 100;
    background: transparent;
    width: 100%;
}



.offer__link{
  font-weight: 600;
}

.offer__text{
  font-size: 20px;
}

.icon__link{
  color: #000;
  font-size: 20px;
  margin-left: 30px;
}

.form-group-1, .form-group-2{
  width: 100%;
}

.fab{
  color: #061414;
  font-size: 30px;
}

.contacts{
  line-height: 30px;
}

.contacts__item_bottom{
  margin-left: -20px;
}

.contacts__link{
  font-size: 15px;
}

/*                            Первичная Регистрация                            */

.registration-title{
  text-align: center;
  font-size: 35px;
  display: block;
  margin: 0 auto;
}

.registration-bgc{
  position: absolute;
  left: 0;
  width: 100%;
  top: 160px;
  z-index: 10;
  padding: 10px 0;
  background-color: rgba(110, 110, 110, 0.58);
}

.registration-logo{
  margin-top: 6px;
}

.registration-offer{
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

.reg-text__contents{
  margin-top: 30px;
  margin-bottom: 30px;
}

.reg-text__items{
  max-width: 450px;
  width: 100%;
}


.registration-contacts__link{
  color: rgba(255, 255, 255, 0.5);
}

.contacts__item .registration-contacts__link:hover{
  color: #fff;
}

.registration-contact{
  padding-top: 23px;
}

.registration-contact__item{
  padding-bottom: 10px;
}

.ammount-text{
  margin: 60px 0;
}

.reg-text__item{
  padding: 15px 10px;
}

.reg-text1__title{
  margin-bottom: 20px;
}

.reg-text__btn{
  padding: 10px 20px;
  font-weight: 600;
  border: 3px solid;
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
}

.reg-text__btn:hover{
  transition: ease 0.5s;
  color: #fff;
  background-color: #075454;
}

.reg-text__content{
  margin-left: 20px;
  max-width: 300px;
  margin-bottom: 8px;
}

.reg-text5{
  margin: 20px 0;
}

.change-text{
  margin: 60px 0;
}

.change-text1{
  margin-bottom: 30px;

}

.change-text2{
  margin-left: -80px;
  margin-top: 15px;
  margin-bottom: 1px;
}

.change-text3 h4{
  font-size: 25px;
}

.change-text3{
  margin-bottom: 30px;
}
.change-text4{
  margin-top: 20px;
  margin-bottom: 20px;
}

.change-text4 h5{
  font-size: 25px;}

.change-text5 h6{
  font-size: 20px;
}

.change-text5{
  margin-top: 20px;
  margin-bottom: 30px;
}

.change-text5__title_left{
  margin-left: 120px;
}

.change-text5__title_right{
  margin-right: 200px;
}
.change-text5{
  margin-top: 30px;
}

.lic-text{
  margin-top: 60px;
  text-align: center;
}

.lic-text1__title{
  margin-top: 41px;
  margin-bottom: 41px;
}

.ammount-text{
  margin-top: 60px;
  text-align: center;
}

.ammount-text1__title{
  margin-top: 15px;
  margin-bottom: 10px;
}



.pop-up{
  z-index: 10;
  display: block;
  margin-top: auto;
}

.card__text{
  color: #000;
}

.form-control.is-valid:focus{
  box-shadow: none;
}

.change-text2__link_left{
margin-left: 80px;
}

.change-text4__link_right{
margin-right: 30px;
}

.black{
z-index: 10;
padding: 20px;
border: 2px solid #fff;
width: 100%;
margin-top: 30px;
padding-bottom: 0;

}

.black__title_change-okved{
max-width: 700px;
}


.black__services{
padding: 0 20px 40px 20px ;
border-bottom: 1px solid #fff;
}


.black__offer{
align-items: center;
padding: 20px 5px;
}

.black__item{
justify-content: space-between;
margin-top: 23px;
margin-bottom: 22px;
}

.black__ammount-total{
font-size: 30px;
text-transform: uppercase;
font-weight: bold;

}

.black__total{
text-transform: none;
font-size: 30px;
}

.black__ammount{
font-size: 25px;
text-transform: none;
font-weight: bold;
}

/* toggle */

.checkbox {
  display: none;
}

.checkbox + label {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 30px;
  background: -webkit-linear-gradient(left, #414141 0, #919191 45%, #d7d7d7 55%, #fff 100%) 0 0;
  background: linear-gradient(to right, #414141 0, #919191 45%, #d7d7d7 55%, #fff 100%) 0 0;
  background-size: 650px 100%;
  padding: 7px;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) inset;
}
.checkbox + label:before {
  content: "Off";
  width: 40px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  text-align: center;
  line-height: 30px;
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #041d1d;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: left 500ms ease, color 500ms ease, -webkit-transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, -webkit-transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease, -webkit-transform 150ms ease;
}
.checkbox + label:active:before {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.checkbox:checked + label {
  background-position-x: -350px;
}
.checkbox:checked + label:before {
  content: "On";
  color: #007177;
  left: 80px;
}

.black__ammount_toggle{
  color: #919191;

}
.header{
  padding: 15px 0;
}

.cooper{
  color: #ffffff;
}

.costs{
  margin-left: 50px;
}

.step-head{
  font-size: 12px;
  font-weight: 700;
}

.costs-p{
  font-size: 12px;
}

.costs-p--vip{
  font-size: 14px;
}

.new-price--final{
  font-size: 30px;
  font-weight: 700;
  margin-left: 80px;
  text-shadow: black -3px -1px 5px;
}

.final-p{
  font-size: 20px;
}

.step-time{
  font-size: 12px;
}

.foo-change-part{
  font-size: 24px;
}

.black__toggle_change-okvd1{
  margin-left: 70px;
}

.black__toggle_change-okvd2{
  margin-left: 252px;
}

.foo_change-ip-name{
  max-width: 550px;
}

.foo_change-ip-title{
  font-size: 25px;
  text-transform: none;
}

.foo_change-ip-toggle{
  margin-left: 100px;
}

.costs-p-not-buy-sell{
  font-size: 10px;

}

.final-price-contaner {
  margin-top: -5px;
}

.black__toggle_change-okvd3{
  margin-left: 262px;
}

.black__title-lic-ooo{
  max-width: 400px;
  line-height: 1.6em;
  margin-top: 50px;
}

.black__name-lic-ooo{

}
.black__text-lic-ooo{
  margin-bottom: 10px;
}
.black_div-lic{

  align-items: center;
}

.black_div-lic-text{
  max-width: 350px;
}

.black_div-lic-title{
  text-align: center;
}
.black__text-lic-ooo-title{
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.black__offer_change_ip{
  text-align: center;
}
.black__btn_change_ip{
  display: block;
  margin: 0 auto;
}

.black_div-lic-alt{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}


/*         style form             */

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.91);
  overflow: hidden;
  display: none;
}

label.error {
  font-size: 10px;
  color: red;
  position: absolute;
  width: 100%;

}

input.error {
  border-bottom: 1px solid red !important;
}

input.valid {
  border-bottom: 1px solid rgb(255, 255, 255) !important;
}

#loader img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

#overlay {
  z-index: 1000;
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #000;
  left: 0px;
  top: 0px;
  cursor: pointer;
}
#thx {
  font-size: 20px;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.js-form__items{
  margin-botton: 100px;
}

.formErrors{
  text-align: center;
  margin: auto;
  margin-top: 30px;
  color: red;
  font-size: 15px;
}

.js-form__item{
  width: 100%;
}

.formError{
  font-size: 12px;
  color: red;
}

.form-control{
  font-size: 25px;
  background-color: transparent;
  margin-top: 70px;
  margin-bottom: 5px;
  color: #fff!important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 20px 0 20px 10px;
  outline: none;
}

.form-control:focus , .form-control.is-invalid:focus ,.form-control.is-invalid{
  border-color: #fff!important;

  background-color: transparent!important;
  box-shadow: none;
}

.form-control.is-invalid{
  color: #dc3545!important;
}

.form-control::placeholder{
  padding-left: 0px;
  font-weight: lighter;
  font-size: 25px;
  color: #fff;
}

.soglasie{
  margin-bottom: 10px;
  text-align: center;
}

.req-btn{
  display: block;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.forms{
  padding-bottom: 30px;
}

.forms-main{
  margin-top: 10px;
}

.act{
  margin: 0 auto;
  display: block;
  max-width: 400px;
  width: 100%;
  padding: 15px 0;
  color: #050133;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

#check-error{
  max-width: 100px;
}

.change-text3{
  margin-top: 30px;
}

*, *:focus, *:active, button, button:focus , button:active{
  outline: none!important;
}

#first{
  margin-left: 10px;
  margin-right: 10px;
}

.icons{
  color: #000;
  flex: 0;
}


.contacts__link_bottom{
  margin-left: 40px;
}


#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 100500;
}
.pop-up-change-okved{
  font-size: 26px;
}


.black__adress{
  justify-content: space-between;
}


.change-text__title{
  margin-top: 30px;
  border: 1px solid transparent;
  padding: 5px 2px;
  background-color: transparent;
}

.change-text__title:hover{
  transition: ease 0.5s;
  border-radius: 10px;
  background-color: rgba(231, 237, 238, 0.73);
}

.for-calculator-js2213{
  font-size: 25px;
}

.costs-p-lic-alt{
  font-size: 12px;
}


.black__toggle_cahnge-founders{
  margin-left: 100px;
}

.black__toggle_cahnge-okved-top{
  margin-left: 50px;
}

.btn-change-ip{
  display: block;
  margin: auto;
}

.black__toggle_buySell{
  margin-left: 100px;
}
.liquidation_btn_OOO{
  font-size: 25px;
}

.contact__link{
  display: block;
}

.change-desktop{
  width: 100%;
}

.contact-mobile{
  justify-content: space-around;
}

.change-text__title_right{
  text-align: right;
}

.change-text__title_center{
  text-align: center;
}


#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(240, 240, 240, 0.91);
  overflow: hidden;
  display: none;
}

label.error {
  font-size: 12px;
  color: red;
  position: absolute;
}

input.error {
  border: 1px solid red !important;
}

input.valid {
  border: 1px solid green !important;
}

#loader img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

#map-basics{
  margin-top: 20px;
  margin-bottom: 10px;
}
.data__content, .contact-data{
  padding: 10px 5px;
}

.data__name{
  margin-bottom: 10px;
}

.data__info{
  width: 120px!important;
  display: inline-block;
}
.data__text:not(:last-child){
  margin-bottom: 10px;
}

.data{
  color: black;
}

.data__item {
  font-size: 40px;
  margin-top: 7px;
  margin-right: 5px;
}

.contact-data__link{
  font-size: 18px;
  text-transform: none;
}

.contact-data__item:not(:last-child){
  margin-bottom: 10px;
}

.breadcrumb{
  background-color: transparent;
  width: 100%;
}

.breadcrumb .menu__item{
  margin-right: 0;
}

.fa-icon{
  margin-right: 5px;
}

.reg-twin{
  margin-bottom: 20px;;
}

.reg-twin__title .active{
  background-color: #ff4f50;
  cursor: default!important;
}

.reg-twin__title{
  max-width: 600px;
  margin:  auto;
  background: #3b3b3b;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
}

.nav-tabs{
  overflow: scroll;
  max-height: 330px;
  height: 100%;
}



.nav-tabs .nav-link{
  text-align: center;
  border-radius: 0.25em;
}

.reg-twin__title .nav-link{
  padding: 10px 20px;
  border-radius: 10px;
  width: 50%;
  cursor: pointer;
}

.tab-content-reg{
  width: 100%;
}

.tab-content-reg>.active{
  display: flex;
}

.card-body{
  color: #3b3b3b;
  height: 100%;
  box-shadow: inset 2px 2px 1px rgb(0, 0, 0);
}

.card__title{
  margin-bottom: 10px;
}

.card__title_first{
  margin-bottom: 42px;
}

.card__price{
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #f74f50;
}

.card__text{
  margin-left: 5px;
  margin-bottom: 8px;
}

.card__btn{
  margin-top: auto;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.urAddress-content{
  margin-left: 18px;
}

.urAddress-content__title{
  font-size: 20px;
  margin-top: 20px;
  line-height: 30px;
}

.urAddress-content__item{
  max-width: 250px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.change-ooo__title{
  font-size: 25px;
  margin-bottom: 20px;
}
